<section class="contact" id="contact">


    <div class="container">
        <div class="content">
            <div class="row center-l">  Hey there, the blog is brand new and I'm still working on various parts (like this one ;-)</div>
            <br>
            <div class="row center-l">Until I set up the proper bells and whistles (social media buttons or what-have-you), you can talk to me on
                <a href="https://twitter.com/TrinityTakei">twitter</a>, or send an old-school email via the form below.</div>
                <br>

            <div class="row center-l">Oh yeah, you can also sign up to my list (I have nothing to sell, too busy to talk BS, so the worst thing that can happen is that I wont send anything for a while ;-)</div>
                <br>
            <div class="row center-l">I know it's amateurish as fuck, but for now you'll have to visit <a href="https://www.trinitytakei.io/blog/17-traits-of-awesome-tech-leads/">one of my posts</a>, scroll to the bottom and sign up there.</div>
                <br>
            <div class="row center-l">Sorry for the mess, I'm working on it!</div>
        </div>

        <div class="row center-xs">
            <div class="col-xs-12"><h1>Send me an email!</h1></div>
            <div class="col-xs-12"><emph>Unless you are a spammer or a major douchebag, the mail gets lost, the dog eats my laptop, I'll get hit by a bus etc (all the usual suspects that apply in a similar situation) I'm going to reply!</emph></div>
        </div>
        <form id="form-contact" action="https://formspree.io/{{ .Site.Params.email }}" method="POST">
            <div class="row center-xs">
                <div class="col-xs-12 col-sm-6"><input type="text" name="name" placeholder="Name" required></div>
                <div class="col-xs-12 col-sm-6"><input type="email" name="email" placeholder="Email" required></div>
                <div class="col-xs-12"><input type="text" name="_subject" placeholder="Subject" required></div>
                <div class="col-xs-12"><textarea name="message" placeholder="Message" required></textarea></div>
                <input type="text" name="_gotcha" style="display:none">
                <input type="hidden" name="_next" value="/">
                <div class="col-xs-6" id="form-submit"><input type="submit" value="Send"></div>
                <div class="col-xs-12" id="form-thankyou" style="display:none;">Thanks for your email!</div>
            </div>
        </form>
    </div>
</section>
